# OS
.DS_Store

# Node dependencies
node_modules/

# Build
dist/
build/
bundle.js

# Coverage
coverage/
.nyc_output/

# Temp files
*~
*.swp
*.swo
*.log
*.tmp

# My assets
todo.md
subject.pdf
example.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?