# OS
.DS_Store

# Node dependencies
app/node_modules/

# Build
app/dist/
app/build/
app/bundle.js

# Coverage
coverage/
.nyc_output/

# Temp files
*~
*.swp
*.swo
*.log
*.tmp

# My assets
todo.md
subject.pdf
example.txt
